:root{
    /* --nombreVariable: valor; */
    
    /* font-family: 'Jost', sans-serif; */

    /* colores */
    --blanco: #FFFFFF;
    --transparencia: #E6E6E6;
    --negro: #070201;
    --grisClaro: #545354;
    --grisMedio: #343434;
    --grisFuerte: #2d2d2e;

}

body{
    margin: 0%;
    padding: 0%;
    color: var(--blanco);
    font-family:'Jost', sans-serif;
    background-image: url(../img/instalacionesFondos/collageGaleria.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 4096px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
}

a:hover{
    color: var(--grisMedio);
}
